
canvas { position: absolute; }
.cv {
    display: inline-block;
    width: 150px;  
}
.canvas { 
    z-index: 1;
}

.back { 
    z-index: 0;
    
}

.b {
    display: block;
    clear: left;
}
.b h1,
.b a {
    display: inline;
}

.date {
    display: inline-block;
    float:left;
  }


